<div class="row">
  <div class="col-lg-4 col-md-4 col-xs-4">
    <center>
      <div class="thumbnail" style="margin-bottom:15px; border-style:solid; border-color:black; width:55%">
        <img src="{{image.imgurl}}" alt="" style="height:55%;width:100%">
      </div>
      <form class="" action="" method="post">
        <input type="number" name="id" hidden="" value="{{image.id}}">
        <button type="submit" class="btn btn-danger" name="button">Delete</button>
      </form>
      </center>

  </div>

  <div class="col-lg-8 col-md-8 col-xs-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Details</h2>
      </div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <h4 style="color:gray"><b>Name:</b></h4></div>
              <div class="col-lg-6 col-md-6 col-xs-6">
                <h4><b>{{image.name}}</b></h4></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <h4 style="color:gray"><b>Nationality:</b></h4></div>
              <div class="col-lg-6 col-md-6 col-xs-6">
                <h4><b>{{image.nationality}}</b></h4></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <h4 style="color:gray"><b>Date of birth:</b></h4></div>
              <div class="col-lg-6 col-md-6 col-xs-6">
                <h4><b>{{FormatDate image.dob}}</b></h4></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <h4 style="color:gray"><b>Place of birth:</b></h4></div>
              <div class="col-lg-6 col-md-6 col-xs-6">
                <h4><b>{{image.pob}}</b></h4></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <h4 style="color:gray"><b>Height:</b></h4></div>
              <div class="col-lg-6 col-md-6 col-xs-6">
                <h4><b>{{image.height}} m</b></h4></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <h4 style="color:gray"><b>Main position:</b></h4></div>
              <div class="col-lg-6 col-md-6 col-xs-6">
                <h4><b>{{image.pos}}</b></h4></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <h4 style="color:gray"><b>International caps:</b></h4></div>
              <div class="col-lg-6 col-md-6 col-xs-6">
                <h4><b>{{image.caps}}</b></h4></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <h4 style="color:gray"><b>International goals:</b></h4></div>
              <div class="col-lg-6 col-md-6 col-xs-6">
                <h4><b>{{image.goals}}</b></h4></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <h4 style="color:gray"><b>Agent:</b></h4></div>
              <div class="col-lg-6 col-md-6 col-xs-6">
                <h4><b>{{image.agent}}</b></h4></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <h4 style="color:gray"><b>Market value:</b></h4></div>
              <div class="col-lg-6 col-md-6 col-xs-6">
                <h4><b>{{image.marketvalue}}</b></h4></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <h4 style="color:gray"><b>Current Club:</b></h4></div>
              <div class="col-lg-6 col-md-6 col-xs-6">
                <h4><b>{{image.club}}</b></h4></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <h4 style="color:gray"><b>Number:</b></h4></div>
              <div class="col-lg-6 col-md-6 col-xs-6">
                <h4><b>{{image.pnumber}}</b></h4></div>
            </div>
          </li>
        </ul>
    </div>
  </div>
